nav a {
    text-decoration: none;
    background-color: peru;
    color: black;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    border-radius: 50px;
}

h1.title {
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin: 25px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    background-color: rgb(213, 195, 123);
}

div {
    padding: 5px;
    padding-left: 15px;
    border-radius: 20px;
    margin: 10px;
    margin-top: 20px;
    background-color: rgb(213, 195, 123);
    color: black;
}
div.img {
    margin-left: 15%;
    margin-right: 15%;
}

body {
    background-image: url('images/potato1.png');
    margin: 50px;
}

.cntr {
    text-align: center;
}

i.cntr {
    display: block;
    text-align: center;
}
img.cntr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

footer.r {
    max-width: 30%;
    padding: 15px;
    margin-left: 70%;
    border-radius: 20px;
    background-color: rgb(213, 195, 123)
}